<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/springCss.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/js/ajaxDB.js}"></script>
<script th:src="@{/js/ajax-2.js}"></script>
<title>Ajax</title>
</head>
<body>
	<p id="text">Hello World!</p>
	<button id="ajax" type="button">Ajax send!</button>
	<button id="post-ajax" type="button">Post-Ajax send!</button>
	<form method="post" th:action="@{/send/path/form}" id="post-form2">
		<input type="number" name="studentId" id="student-id">
		<input type="text" name="name" id="name">
		<input type="submit" value="Post-Ajax-Form" id="post-ajax-form">
	</form>
	<br/>
	<form method="post" action="">
		名前<input type="text" name="name" id="mtName">
		標高<input type="number" name="height" id="mtHeight">
		<input type="submit" value="Save in DB" id="saveDb">
	</form>
	<div id="mount-list">
		<p>保存した山</p>
	</div>
	
	<script th:src="@{/js/ajax.js}"></script>
</body>
</html>