<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/drawermenu.css}" rel="stylesheet" type="text/css" />
<title>drawerMenu</title>
</head>
<body>
	<header>
		<div class="hamburger-menu">
			<input type="checkbox" id="menu-btn-check"> <label
				for="menu-btn-check" class="menu-btn"><span></span></label>
			<div class="menu-content">
				<ul>
					<li><a href="#">メニューリンク1</a></li>
					<li><a href="#">メニューリンク2</a></li>
					<li><a href="#">メニューリンク3</a></li>
				</ul>
			</div>
		</div>
	</header>

</body>
</html>