<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/springCss.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/js/ajax-2.js}"></script>
<title>File Uploader</title>
</head>
<body>
	<form>
		<div id="drop-zone">
			ドロップ
		</div>
		<input type="file" id="input-file" multiple="multiple" >
		<div id="preview">
			
		</div>
	</form>
	
	<button type="button" id="button">Modal</button>
	
	<div id="modal" class="modal"> <!-- モーダル画面の背景 -->
		<div class="modal-content"> <!-- モーダル画面のコンテンツを中央に寄せる -->
			<div class="modal-body"> <!-- モーダル内のコンテンツ -->
				<h1>Hello Modal</h1>
				<input type="button" id="closeBtn" value="Close">
			</div>
		</div>
	</div>
	
</body>
</html>