<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/globalmenu.css}" rel="stylesheet" type="text/css" />
<title>Global Menu Training</title>
</head>
<body>

	<nav id="header-nav">
		<ul class="header-list">

			<li class="menu-item a"><a href="">メニューA</a>
				<ul class="sub-menu">
					<li class="sub-menu-item a"><a href="">サブメニュー1</a></li>
					<li class="sub-menu-item a"><a href="">サブメニュー2</a></li>
				</ul>
			</li>


			<li class="menu-item b"><a href="">メニューB</a>
				<ul class="sub-menu">
					<li class="sub-menu-item b"><a href="">サブメニュー1</a></li>
					<li class="sub-menu-item b"><a href="">サブメニュー2</a></li>
				</ul></li>


			<li class="menu-item c"><a href="">メニューC</a>
				<ul class="sub-menu">
					<li class="sub-menu-item c"><a href="">サブメニュー1</a></li>
					<li class="sub-menu-item c"><a href="">サブメニュー2</a></li>
				</ul></li>


			<li class="menu-item d"><a href="">メニューD</a>
				<ul class="sub-menu">
					<li class="sub-menu-item d"><a href="">サブメニュー1</a></li>
					<li class="sub-menu-item d"><a href="">サブメニュー2</a></li>
				</ul></li>
		</ul>

	</nav>


</body>
</html>