<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/cssPractice.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/js/cssPractice.js}"></script>
<title>Css Training</title>
</head>
<body>
	<div id="loader-wrap">
		
	</div>

	<div id="letterpopup">
		<h1 class="title">
			<span>T</span> <span>E</span> <span>X</span> <span>T</span> <span>&nbsp;</span>
			<span>A</span> <span>N</span> <span>I</span> <span>M</span> <span>A</span>
			<span>T</span> <span>I</span> <span>O</span> <span>N</span>
		</h1>
	</div>

	<div class="underline">
		<ul>
			<li><a href="#">ホーム</a></li>
			<li><a href="#">選ぶメリット</a></li>
			<li><a href="#">楽しむためのコツ</a></li>
			<li><a href="#">導入事例</a></li>
			<li><a href="#">お問い合わせ</a></li>
		</ul>
	</div>
	<p hello:sayto="あいうえお" class="test3"></p>
	<p hello:show></p>
	<span th:text="${#doubleString.returnDouble('あいそん')}"></span>
</body>
</html>

